<div class="champion-detail">
  <div class="container">
    <h1>Donations</h1>
    <h3>Thank you for your patronage! I accept donations via the following sources:</h3>
    <div style="display:flex">
        <span><b>PayPal:</b> </span> 
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_donations" />
          <input type="hidden" name="business" value="VPFMA2S448266" />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>
    </div>
    <span><b>Bitcoin - </b> 1E5LnpikS8Ti31HwS8PFmAV2Jv4H8v58xt</span> <br/>
    <span><b>Litecoin - </b>  LW6FYEFFW1jpEvrNk9otQ3DaoH1aLRpoh5</span> <br/>
    <span><b>Ethereum</b> - 0x36133E6c51e8A945Fc9d3625327DD8B440AC81f9</span> <br/>
    <span>All donations will fund future development and maintenence.</span>
  </div>
</div>