.champion-detail
  .page-layout
    display: flex
    .champ-controls
      display: inline-block
      .spell-buttons
        display: inline-block
        cursor: pointer
        span
          text-align: center
      .spell-buttons:hover
        filter: brightness(1.5)
    .spell-info
      padding: 5px
      display: inline-block
      top: 0